/Download/env/
/Download/ARIA_USE_CURL
/Download/Aria_MaxConnection.txt
/Civitai/CivitaiApiKey.txt
/EasyTools/
/GenImageViewer/GenImageViewer/
/Git/env/
/InfiniteImageBrowsing/sd-webui-infinite-image-browsing/
/LamaCleaner/venv/
/LlamaCpp/LlamaCpp/
/LlamaCpp/LlamaCpp_Version.txt
/Mosaic/*/
/Python/env/
/SdImageDiet/SdImageDiet/
